@import "./utils/variables";
@import "./utils/visually-hidden";

@import "./components/base";
@import "./components/logo";
@import "./components/header";
@import "./components/button";
@import "./components/hero";
@import "./components/features";
@import "./components/activity";
@import "./components/socials";
@import "./components/team";
@import "./components/clients";
@import "./components/footer";
@import "./components/portfolio";
@import "./components/modal";
@import "./components/form";
