.section__activity {
  padding-top: 0;
}
.activity {
  display: flex;

  &__item {
    position: relative;
    &_:not(:last-child) {
      margin-right: 27px;
    }
  }

  &__foto {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  &__name {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-color);
  }
}
