body {
    color: var(--title-color);
    font-family: Roboto, sans-serif;
}
h1,
h2,
h3,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
}
ul {
    list-style: none;
    padding: 0;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}