.client {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: -30px;

  @include mq(not-desktop) {
    flex-wrap: wrap;
  }

  &__item {
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    height: 92px;
    flex-basis: calc((100% - 60px) / 2);

    @include mq(tablet) {
      flex-basis: calc((100% - 90px) / 3);
    }
    @include mq(desktop) {
      flex-basis: calc((100% - 180px) / 6);
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: border-color var(--trans);

    &:hover,
    &:focus {
      border-color: var(--active-color);
    }
  }

  &__icon {
    fill: #afb1b8;
    transition: fill var(--trans);

    .client__logo:hover &,
    .client__logo:focus & {
      fill: var(--active-color);
    }
  }
}
