.header {
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: var(--light-color);
  border-bottom: 1px solid #ececec;

  &__container {
    display: flex;
    align-items: center;
  }

  &__logo {
    display: block;
    color: #000000;
    padding-top: 16px;
    padding-bottom: 16px;

    @include mq(tablet) {
      margin-right: 88px;
    }

    @include mq(desktop) {
      margin-right: 93px;
    }
  }
}

.navigation {
  display: flex;
  margin: 0;

  @include mq(mobile-only) {
    display: none;
  }

  &__item {
    margin-right: 50px;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color var(--trans);

    &:hover,
    &:focus {
      color: var(--active-color);
    }

    &--current {
      color: var(--active-color);
      position: relative;
    }

    &--current::after {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--active-color);
    }
  }
}

.contact {
  display: block;
  margin-left: 84px;

  @include mq(mobile-only) {
    display: none;
  }

  @include mq(tablet) {
    margin-left: auto;
  }
  @include mq(desktop) {
    display: flex;
  }

  &__item:first-child {
    margin-bottom: 10px;

    @include mq(desktop) {
      margin-right: 50px;
      margin-bottom: 0;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    color: var(--text-color);
    fill: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    transition: color var(--trans), fill var(--trans);

    @include mq(desktop) {
      font-size: 14px;
      line-height: 1.14;
    }

    &:hover,
    &:focus {
      color: var(--active-color);
      fill: var(--active-color);
    }
  }

  &__icon {
    margin-right: 10px;
  }
}
