.section__team {
  background-color: #f5f4fa;
}

.team {
  display: flex;
  margin: 0;

  &__card {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
    background-color: var(--light-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__member {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
  }

  &__name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03e;
  }

  &__position {
    margin-bottom: 16px;
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}
